package ${package.Mapper};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import ${package.Entity}.${entity};
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.elasticsearch.annotations.Query;
import org.springframework.data.elasticsearch.repository.ElasticsearchRepository;

/**
* @author ljp
*/
public interface ${entity}EsRepository extends ElasticsearchRepository<${entity}, Long> {

#foreach($field in ${table.fields})
    #if(${field.propertyName})
        #set($fieldName=$field.propertyName.substring(0, 1).toUpperCase() + $field.propertyName.substring(1))
    #end
    Page<${entity}> findBy${fieldName}(${field.propertyType} ${field.propertyName}, Pageable pageable);
#end

    //@Query("{\"bool\" : {\"must\" : {\"field\" : {\"secondCode.keyword\" : \"?\"}}}}")
    //Page<${entity}> findBySecondCode(String secondCode, Pageable pageable);

}
